#picOfMe{
    align-self: center;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
    border-radius: 5%;
    margin-top: 150px;
    
}

#leftSideBar{
    /* top:3em; */
    position: relative;
    margin-left: 165px;
    display: flex;
    flex-direction: column;
}

#sideMenue{
    position: fixed;
    left: 0px;
    right: 0px;
    /* top: 3em; */
    width: 145px;
    text-align: center;
    /* padding-left: 1em; */
    height: 100%;
    background-color: 	#d3d3d3;
    margin-left: 0px;  
}



.socialLink{
    width: 35px;
    height: 35px;
}

.mediaIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flexIcon{
    float: left;
    width:33.33%;
    padding: 4px;
    margin: 5px;
    margin-left: 10px;
    margin-top: 15px
}

.contactPic{
    top:25px;
    height:25px;
    margin: 2px;
}

.contactLetter{
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.contact{
    display: flex;
}

.contactInfo{
    margin-left: 4px;
}

#sidebarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: center;
  }

.sideList{
      margin-bottom: 15px;
  }

#topList{
    margin-top: 18px;
}

H1{
    margin-top: 50px;
    color: darkslategray;
    font-size: 45px;
    margin-bottom: 10px;
    font-family: "Audiowide", sans-serif;
}

.needLongIndent1{
    margin-bottom: 30px;
}

h4{
    color: darkslategray;   
}

.smallMargin{
    margin-bottom: 0.1px;
}

.smallMargin2{
    margin-bottom: 8px ;
}

.bigMargin3{
    margin-bottom: 500px;
}

.smallIcon{
    top: 22px;
    height: 22px;
    margin-right: 5px;
}

.imgSkill{
    display: flex;
}

.desImgSkill{
    margin-bottom: 1px;
}

.flexSkill{
    display: flex;
}