#picOfMe{
    align-self: center;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
    border-radius: 5%;
    margin-top: 150px;
    
}

#content{
    /* top:3em; */
    position: relative;
    margin-left: 165px;
    display: flex;
    flex-direction: column;
}

#sideMenue{
    position: fixed;
    left: 0px;
    right: 0px;
    /* top: 3em; */
    width: 145px;
    text-align: center;
    /* padding-left: 1em; */
    height: 100%;
    background-color: 	#d3d3d3;
    margin-left: 0px;
    
}

.socialLink{
    width: 35px;
    height: 35px;
}

.mediaIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.flexIcon{
    float: left;
    width:33.33%;
    padding: 4px;
    margin: 5px;
    margin-left: 10px;
}

.contactPic{
    top:17px;
    height:17px;
    margin: 2px;
}

.contactLetter{
    font-size: 0.53em ;
    margin-left: 5px;
    margin-top: 1px;
}

.contact{
    display: flex;
}

.contactInfo{
    margin-left: 4px;
}

#sidebarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: center;
  }